<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MrLuje.LazyPackagesCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MrLuje.LazyPackagesCleaner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MrLuje.LazyPackagesCleaner.Properties.Settings>
            <setting name="EnableDeleteOnFirstBuild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeleteOnClean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </MrLuje.LazyPackagesCleaner.Properties.Settings>
        <MrLuje.LazyPackagesCleaner.Settings>
            <setting name="EnableDeleteOnFirstBuild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDeleteOnClean" serializeAs="String">
                <value>False</value>
            </setting>
        </MrLuje.LazyPackagesCleaner.Settings>
    </userSettings>
</configuration>